@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --secondary-color:#112e42;
    --text-color:#fff;
    --bg-color:#ededed;
    --main-color:#00abf0;
    --font-family:'Roboto';
}
.darkmode{
    --secondary-color: #0A1A28;   /* Plus sombre, idéal pour headers */
    --text-color: #E6F7FF;       /* Blanc légèrement bleuté = lisibilité */
    --bg-color: #0F2433;         /* Background global sombre */
    --main-color: #00abf0;       /* On garde ton bleu vif */
    --kitoko-color: #1E90FF;     /* Accent, liens / boutons */
    --font-family: 'Roboto';
}
body{
    overflow-x:hidden;
    width: 100%;
}
/*All elements*/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
    outline: none;
    box-sizing: border-box;
    color:var(--secondary-color);
    font-family: var(--font-family);
}
header{
    z-index: 999;
}

/*Loading ANimation*/
.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-color);
    opacity: 1;
    z-index: 999999;
}
.remove{
    pointer-events: none;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transform: translate(100%);
    -webkit-transform: translate(100%);
    -moz-transform: translate(100%);
    -ms-transform: translate(100%);
    -o-transform: translate(100%);
}
#logo-img-box1{
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 16px solid;
    border-left-color: var(--bg-color);
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-right-color:transparent;
    background: var(--secondary-color);
    box-shadow: 3px 3px 9px var(--bg-color);
    overflow: hidden;
    position: relative;
    z-index: 10;
    animation: loadingAnimation 5s linear infinite;
    -webkit-animation: loadingAnimation 5s linear infinite;
    position: relative;
}
.logo-img-box2{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    animation: logoAnimate 1s linear infinite;
    -webkit-animation: logoAnimate 3s ease-out infinite;z-index: 10;
}

/*LOADING ANIMATION KEYFRAME*/
    @keyframes loadingAnimation {
        from{
            transform: rotate(0);
            -webkit-transform: rotate(0);
            -moz-transform: rotate(0);
            -ms-transform: rotate(0);
            -o-transform: rotate(0);
        }
        to{
            transform: rotate(1turn);
            -webkit-transform: rotate(1turn);
            -moz-transform: rotate(1turn);
            -ms-transform: rotate(1turn);
            -o-transform: rotate(1turn);
    }
}
@keyframes logoAnimate {
    from{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    to{
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
}
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--secondary-color);
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    z-index: 99999;
}
/* Nav */
nav{
    display: flex;
    gap: 2rem;
}
.Active{
    position: relative;
}
.Active::before{
    content:'';
    position:absolute;
    top: 100%;
    left:0;
    width:100%;
    height:3px;
    background:var(--main-color);
}
nav ul{
    display: flex;
    justify-content: center;
    gap:1rem;
}
nav ul li{
      color: var(--bg-color);
      position: relative;
}
nav ul li a{
    position: relative;
    color: var(--bg-color);
}
nav ul li a::before{
    content: '';
    border-radius: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 3px;
    background: var(--main-color);
    z-index: 100;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .7s ease-out;
    -webkit-transition: .7s ease-out;
    -moz-transition: .7s ease-out;
    -ms-transition: .7s ease-out;
    -o-transition: .7s ease-out;
}
nav ul li a:hover::before{
    width: 100%;
}
#close{
    display: none;
}
#bar{
    display: none;
}
i{
    font-size: 1.2rem;
    color: var(--bg-color);
}

.technicSupport p, .Comment p{
    display: none;
}
.technicSupport, .Comment{
    position: relative;
    bottom: .5rem;
    margin-left: 2rem;
}
.technicSupport span i, .Comment span i{
    background: var(--main-color);
    width: 100%;
    height: 100%;
    padding: .5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: background .5s ease;
    -webkit-transition: background .5s ease;
    -moz-transition: background .5s ease;
    -ms-transition: background .5s ease;
    -o-transition: background .5s ease;
}
.technicSupport span i:hover, .Comment span i:hover{
    background: var(--bg-color);
    color: var(--secondary-color);
}
 
.Active{
    position: relative;
}
.Active::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background:var(--secondary-color);
}

.input{
    width: 100%;
    height: 100%;
    padding: 2rem;
    margin-top: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
input[type="text"]{
    width: 300px;
    padding: .6rem 2rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
}
.services{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.h1services{
    font-size: clamp(2rem,5vw,3rem);
    color: var(--secondary-color);
    text-align: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px,1fr));
    gap: 2rem;
    width: 100%;
    justify-items: center;
    align-items: center;
    place-items: center;

}
.contentsHTML{
    background: var(--bg-color);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.iconentreprise img{
    width: 100%;
}
.txt_top{
    font-size: clamp(1.2rem,2.5vw,1.5rem);
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 1rem 0;
    align-items: center;
}
.servicesNom{
    font-weight: bold;
    flex-wrap: wrap;
    font-size: clamp(1rem, 2vw, 2rem);
}
.servicesDisponible{
    font-weight: bold;
    color: var(--secondary-color);
    background: var(--bg-color);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: .4rem;
}
.prix{
    font-weight: bold;
    color: var(--bg-color);
    background: var(--secondary-color);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: .4rem;
    font-size: 1.3rem;
}
.txt_center{
    font-size: clamp(1rem,2.2vw,1.2rem);
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    gap: 1rem;
}
.description{
    font-size: 1.3rem;
    width: 90%;
    display: flex;
  text-align: center;
}
.li{
    font-size: 1.2rem;
    color: var(--secondary-color);
    text-align: left;
    width: 90%;
}

.duree{
    font-weight: bold;
    color: var(--bg-color);
    background: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}


