@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --secondary-color:#112e42;
    --text-color:#fff;
    --bg-color:#ededed;
    --main-color:#00abf0;
    --font-family:'Roboto';
}
.darkmode{
    --secondary-color: #0A1A28;   /* Plus sombre, idéal pour headers */
    --text-color: #E6F7FF;       /* Blanc légèrement bleuté = lisibilité */
    --bg-color: #0F2433;         /* Background global sombre */
    --main-color: #00abf0;       /* On garde ton bleu vif */
    --kitoko-color: #1E90FF;     /* Accent, liens / boutons */
    --font-family: 'Roboto';
}
body{
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    background: var(--bg-color);
}

/*All elements*/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
    outline: none;
    box-sizing: border-box;
    color:var(--secondary-color);
    font-family: var(--font-family);;
}
header{
    z-index: 999;
}

/*Loading ANimation*/
.preloader{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-color);
    opacity: 1;
    z-index: 99999999;
}
.remove{
    pointer-events: none;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transform: translate(100%);
    -webkit-transform: translate(100%);
    -moz-transform: translate(100%);
    -ms-transform: translate(100%);
    -o-transform: translate(100%);
    visibility: hidden;
}
#logo-img-box1{
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 16px solid;
    border-left-color: var(--bg-color);
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-right-color:transparent;
    background: var(--secondary-color);
    box-shadow: 3px 3px 9px var(--bg-color);
    overflow: hidden;
    position: relative;
    z-index: 10;
    animation: loadingAnimation 5s linear infinite;
    -webkit-animation: loadingAnimation 5s linear infinite;
    position: relative;
}
.logo-img-box2{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    animation: logoAnimate 1s linear infinite;
    -webkit-animation: logoAnimate 3s ease-out infinite;z-index: 10;
}

/*LOADING ANIMATION KEYFRAME*/
    @keyframes loadingAnimation {
        from{
            transform: rotate(0);
            -webkit-transform: rotate(0);
            -moz-transform: rotate(0);
            -ms-transform: rotate(0);
            -o-transform: rotate(0);
        }
        to{
            transform: rotate(1turn);
            -webkit-transform: rotate(1turn);
            -moz-transform: rotate(1turn);
            -ms-transform: rotate(1turn);
            -o-transform: rotate(1turn);
    }
}
@keyframes logoAnimate {
    from{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    to{
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
}
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--secondary-color);
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    z-index: 9999;
    margin: 0;
    padding: 0;
}
/* Nav */
nav{
    display: flex;
    gap: 2rem;
}
.Active{
    position: relative;
}
.Active::before{
    content:'';
    position:absolute;
    top: 100%;
    left:0;
    width:100%;
    height:3px;
    background:var(--main-color);
}
nav ul{
    display: flex;
    justify-content: center;
    gap:1rem;
}
nav ul li{
      color: var(--bg-color);
      position: relative;
}
nav ul li a{
    position: relative;
    color: var(--bg-color);
}
nav ul li a::before{
    content: '';
    border-radius: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 3px;
    background: var(--main-color);
    z-index: 100;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .7s ease-out;
    -webkit-transition: .7s ease-out;
    -moz-transition: .7s ease-out;
    -ms-transition: .7s ease-out;
    -o-transition: .7s ease-out;
}
nav ul li a:hover::before{
    width: 100%;
}
#close{
    display: none;
}
#bar{
    display: none;
}
i{
    font-size: 1.2rem;
    color: var(--bg-color);
}

.technicSupport p, .Comment p{
    display: none;
}
.technicSupport, .Comment{
    position: relative;
    bottom: .5rem;
    margin-left: 2rem;
}
.technicSupport span i, .Comment span i{
    background: var(--main-color);
    width: 100%;
    height: 100%;
    padding: .5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}
.technicSupport span i:hover, .Comment span i:hover{
    background: var(--bg-color);
    color: var(--secondary-color);
}
.Icon{
    animation:Ianimation 3s ease-in-out infinite alternate;
    -webkit-animation:Ianimation 3s ease-in-out infinite alternate;
    -moz-animation:Ianimation 1s ease-in-out;
    -ms-animation:Ianimation 1s ease-in-out;
    -o-animation:Ianimation 1s ease-in-out;   
}
@keyframes Ianimation {
    from{
        transform: translate(10px);
        -webkit-transform: translate(10px);
        -moz-transform: translate(10px);
        -ms-transform: translate(10px);
        -o-transform: translate(10px);
    }
    to{
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    }
}
.presentationBox{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.presentation{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    place-items: center;
    gap: 2rem;
    width: 100%;
    height: 100%;
    padding:8rem 0 0 0 ;
}
.presentation h3{
    font-family: var(--font-family);
    font-size: clamp(2rem,5vw,3rem);
    text-align: center;
    letter-spacing: 2px;
    width: 90%;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    text-align: center;
    gap:2rem;
    flex-direction:column;
    text-align:center;
    padding:1rem 1rem;
}
.text h3{
    color:var(--secondary-color);
    line-height: 20px;
    font-size:1.3rem;
}
section .boxs{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap:2rem;
    place-items:center;
    width:100%;
    padding:2rem 0;
}

.boxs img{
    width: 350px;
    height: 350px;
    background-size: cover;
    background: var(--secondary-color);
    cursor:pointer;
    border-radius: 10px;
    transition:transform 1.5s ease-out;
    -webkit-transition:transform 1.5s ease-out;
    -moz-transition:transform 1.5s ease-out;
    -ms-transition:transform 1.5s ease-out;
    -o-transition:transform 1.5s ease-out;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition:box-shadow  1s ease;
    aspect-ratio: 1/1;
}
.boxs img:hover{
    transform:rotate(3deg);
    -webkit-transform:rotate(3deg);
    -moz-transform:rotate(3deg);
    -ms-transform:rotate(3deg);
    -o-transform:rotate(3deg);
    box-shadow: 4px 3px 9px rgba(0,0,0,0.6);
}
.pourquoiNous{
    background:var(--main-color);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    padding:1rem 0;
    gap: 2rem;
    text-align: center;
}
.pourquoiNous h2{
    font-size:2.2rem;
}
.contenuPourquoinous{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
    padding:1rem;place-items: center;
}

.avantages,.partenariat,.Statut{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background:var(--bg-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 1rem;
    text-align: center;
    width: 97%;
}
.AvantagesLi{
    color: var(--secondary-color);
}
.AvantagesLi:nth-child(5){
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.AvantagesLi:nth-child(5) p{
    background: var(--main-color);
    padding: .8rem 3rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.Icon{
    display:flex;
    justify-content: center;
    align-items:center;
}
/*unvisible boxs*/
.notsee{
    opacity:0;
    transform: translate(16px);
    -webkit-transform: translate(16px);
    -moz-transform: translate(16px);
    -ms-transform: translate(16px);
    -o-transform: translate(16px);
    backdrop-filter: blur(5px);
}
.see{
    opacity:1;
    transform:translate(0);
    -webkit-transform:translate(0);
    -moz-transform:translate(0);
    -ms-transform:translate(0);
    -o-transform:translate(0);
    backdrop-filter: blur(0);
    transition:1.5s ease-in-out;
    -webkit-transition:1.5s ease-in-out;
    -moz-transition:1.5s ease-in-out;
    -ms-transition:1.5s ease-in-out;
    -o-transition:1.5s ease-in-out;
}
.contenuPourquoinous ul  {
    display: block;
}
/*Testimonies*/
.testimonies{
    width: 100%;
    height: 100%;
    padding: 3rem 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper {
      width: 550px;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: var(--main-color);
      display: flex;
      justify-content: center;
      padding: 3rem 1rem;
      align-items: center;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;;
}

    .swiper-slide img {
     height: 70px;
     width: 70px;
     border-radius: 50%;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
     background-size: cover;
     background-position: center;
}
.name{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.name p{
    font-size: .9rem;
    color:var(--bg-color);
    background: var(--secondary-color);
    font-weight: 550;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .4rem;
    border-radius: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
 .swiper-slide.swiper-slideP{
    width: 100px;

}
.section__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}
footer{
    background: var(--secondary-color);
    width: fit-content;
}
.footer__bar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 0;
    color: var(--bg-color);
}
.footer__links{
    padding-top: 1rem;
}
.footer__links i{
    color: var(--bg-color);
    font-weight: 600;
    background: var(--main-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: fit-content;
    padding: .4rem;
}
.footer__socials{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    height: 100%;
}
.footer__socials i{
    background: var(--main-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  background .6s ease;
    -webkit-transition:  background .6s ease;
    -moz-transition:  background .6s ease;
    -ms-transition:  background .6s ease;
    -o-transition:  background .6s ease;
}
.footer__socials i:hover{
    background: var(--bg-color);
    color: var(--secondary-color);
}
.footer__content p, li, a{
    color: var(--bg-color);
}
.footer__content{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
